﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.table td {
    vertical-align: middle;
}

/* Login page */
html,
body {
  height: 100%;
}

body.login-page,
body.register-page {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.login-page .form,
.register-page .form {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}
.login-page .form .checkbox,
.register-page .form .checkbox {
  font-weight: 400;
}
.login-page .form .form-control,
.register-page .form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.login-page .form .form-control:focus,
.register-page .form .form-control:focus {
  z-index: 2;
}
.login-page .form input[type="email"],
.register-page .form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login-page .form input,
.register-page .form input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}