﻿@model CarsInventory.Web.Models.LoginViewModel
@{
    var error = ViewBag.Error;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ventive Cars Inventory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-page text-center">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {autocomplete = "off", @class = "form"}))
    {
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        if (error != null && error.Trim() != string.Empty)
        {
            <ul class="alert alert-danger text-left">
                <li class="mx-3">@error</li>
            </ul>
        }

        <label for="textUserName" class="sr-only">User name</label>
        @Html.TextBoxFor(x => x.UserName, new {@class = "form-control", id = "textUserName", placeholder = "User name", required = true, autofocus = true})
        <label for="textPassword" class="sr-only">Password</label>
        @Html.PasswordFor(x => x.Password, new {@class = "form-control", id = "textPassword", placeholder = "User name", required = true})
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-3">
            @Html.ActionLink("Create new account", "Register", "Account")
        </p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>
