﻿@model CarsInventory.Web.Models.RegisterViewModel
@{
    var errors = ViewBag.Errors as IEnumerable<ModelError>;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Ventive Cars Inventory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="register-page text-center">


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {autocomplete = "off", @class = "form"}))
{
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

    if (errors != null && errors.Any())
    {
         <ul class="alert alert-danger text-left">
             @foreach (var error in errors)
             {
                 <li class="mx-3">@error.ErrorMessage</li>
             }
         </ul>
    }

    <label for="textUserName" class="sr-only">Email address</label>
    @Html.TextBoxFor(x => x.UserName, new {@class = "form-control", id = "textUserName", placeholder = "User name", required = true, autofocus = true})
    <label for="textPassword" class="sr-only">Password</label>
    @Html.PasswordFor(x => x.Password, new {@class = "form-control", id = "textPassword", placeholder = "Password", required = true})
    <label for="textConfirmPassword" class="sr-only">Confirm password</label>
    @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control", id = "textConfirmPassword", placeholder = "Confirm password", required = true})
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

</body>
</html>
