﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Ventive Cars Inventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Register", "Register", "Account", new {}, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Account", new {}, new {@class = "nav-link"})
                    </li>
                }
                else
                {
                    <li class="nav-item"><span class="nav-link">Hello <strong>@User.Identity.Name</strong></span></li>
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "nav-link" })
                    </li>
                }
            </ul>
        </div>
    </nav>

    <main role="main" class="container">

        @RenderBody()

    </main><!-- /.container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
