﻿@model IEnumerable<CarsInventory.Web.Models.CarViewModel>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Price</th>
                <th scope="col">Is New</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td><button class="btn btn-link" onclick="window.CarsInventory.showAddOrEditCar(@car.Id)">Edit</button></td>
                    <td scope="row">@car.Id</td>
                    <td scope="row">@car.Brand</td>
                    <td scope="row">@car.Model</td>
                    <td scope="row">@car.Year</td>
                    <td scope="row">@string.Format("{0:C}", car.Price)</td>
                    <td scope="row">@(car.New.HasValue && car.New.Value ? "Yes" : "No")</td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr><td colspan="7">No cars found</td></tr>
            }
        </tbody>
    </table>
</div>