﻿@{
    ViewBag.Title = "Home Page - Ventive Cars Inventory";
}

<div class="mt-3">
    <div class="py-2 clearfix">
        <button class="btn btn-secondary" onclick="window.CarsInventory.showAddOrEditCar()">Add car</button>

        <div class="float-right">
            <form onsubmit="window.CarsInventory.searchCars(event)">
                <div class="input-group mb-3" style="width: 350px">
                    <input type="text" class="form-control" id="textSearch" placeholder="Search by brand or model">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="carList">
        @Html.Action("CarList")
    </div>
</div>

<div class="modal fade" id="modalAddOrEditCar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("SaveCar", "Cars", FormMethod.Post, new { id = "formAddOrEditCar", autocomplete = "off", @class = "form", onsubmit = "window.CarsInventory.saveCar(event)" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Id" id="hiddenId" value="0" />
                    <div class="form-group">
                        <label for="textBrand">Brand</label>
                        <input type="text" class="form-control" name="Brand" id="textBrand" placeholder="Brand" required>
                    </div>
                    <div class="form-group">
                        <label for="textModel">Model</label>
                        <input type="text" class="form-control" name="Model" id="textModel" placeholder="Model" required>
                    </div>
                    <div class="form-group">
                        <label for="textModel">Year</label>
                        <input type="number" class="form-control" name="Year" id="numberYear" placeholder="Year" required>
                    </div>
                    <div class="form-group">
                        <label for="textModel">Price</label>
                        <input type="number" class="form-control" name="Price" id="numberPrice" placeholder="Price" required>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="IsNew" value="true" checked="checked" class="form-check-input" id="checkNew">
                        <label class="form-check-label" for="checkNew">New?</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="../../Scripts/main.js"></script>
}
